* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
.categories-list{
    font-size: 50px;
    font-weight: bold;
}
.categories-info{
    font-size: 23px;
}
.categories-info:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s;
    color: pink;
}