/*.mobile-menu{*/
    /*display: flex;*/
    /*justify-content: space-evenly;*/
    /*list-style: none;*/
    /*width: 800px;*/
    /*text-transform: capitalize;*/
/*}*/

/*.menu-list{*/
    /*!*flex-basis: 70px;*!*/
/*}*/



.nav {
    display: flex;
    position: absolute;
    /*z-index: 2;*/
    /*background-color: #000;*/
    top: 5%;
    left: 50%;
    transform: translateX(-52%);
    width: 70%;
    border-top: 1px solid rgba(128,128,128 ,0.4);
}

.desktop-menu {
    display: flex;
    justify-content: flex-start;
    /*width:80%;*/
}


.menu-link {
    text-decoration: none;
    font-size: 10px;
    color:#fff;
    /*padding: 0.5rem 0;*/
    display: block;
    text-transform: uppercase;
}
.menu-link:hover {
    color: #ff5722;
}

.menu-list {
    margin-right: 10px;
}
.menu-list:last-child {
    margin-right: 0;
}

@media (min-width: 768px) {
    .nav {
        width: 85%;
    }
}


@media (min-width: 1024px) {
    .menu-link {
        font-size: 14px;
    }
    .menu-list {
        margin-right: 5px;
    }
}

@media screen and (min-width: 1200px){
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        position: static;
        transform: translateX(0%);
        background-color: transparent;
        border-top: none;
    }

    .desktop-menu {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        width: 800px;
        text-transform: uppercase;
        text-align: center;
        /*width: 85%;*/
        font-family: Tahoma, sans-serif;
        font-size: 1rem;
        font-weight: 400;
    }

    .menu-list{
        flex-basis: 15%;
        margin-right: 0;
    }

    .menu-link {
        font-size: 18px;
    }

}
