/* настроойки для мобилки */

.desktop-menu {
    display: none;
}

.desktop-menu-mobile-active {
    left: 0;
    transition: 1s;
}

.mobile-nav {
    position: relative;
    display: block;
}

.mobile-nav__book-icon {
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    top: -122px;
    left: -20px;
}

.mobile-nav__about-icon {
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    top: -30px;
    left: -20px;
}

.mobile-nav__catalog-icon {
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    top: -169px;
    left: -20px;
}

.mobile-nav__book-comparison {
    position: absolute;
    display: block;
    height: 12px;
    top: -76px;
    width: 12px;
    left: -20px;
}

.desktop-menu-mobile {
    display: block;
    padding: 15px 50px;
    position: absolute;
    width: 250px;
    height: 300px;
    z-index: 500;
    background-color: #fff;
    left: -20px;
    top: 41px;
    transition: 1s;
    box-shadow: 0px 0px 5px 1px rgba(168, 168, 168, 1);
}

.menu-link {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    text-align: left;
    display: block;
    text-transform: uppercase;
    padding: 15px 0;
}

.menu-link:last-child {
    margin-bottom: 0;
}

.menu-link:hover {
    color: #ff5722;
}

@media (min-width: 768px) {
    .nav-container {
        display: flex;
    }

    .nav {
        background-color: transparent;
        border-top: none;
        display: flex;
        justify-content: space-between;
        z-index: 0;
        position: absolute;
        top: 3.8%;
        left: 12%;
    }

    .desktop-menu-mobile {
        display: none;
    }

    .desktop-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;

    }

    .menu-link {
        position: initial;
        text-align: center;
        font-size: 14px;
        color: #fff;
        padding: 0;
    }
}

@media (min-width: 1024px) {

    .desktop-menu {
        width: 380px;
    }
}

@media screen and (min-width: 1200px) {

    .menu-link {
        font-size: 18px;
    }

    .desktop-menu {
        width: 450px;
    }
}