.categories {
    box-shadow: 0px 0px 5px 1px rgba(168, 168, 168, 1);
    padding: 15px 0  35px 15px;
}

.categories__title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 12px;
    }

.categories__item {
    font-size: 10px;
    color: #626262;
    margin: 0 0 10px;
}

.categories__item:hover {
    color: #ff5722;
}

@media (min-width: 960px) {
    .categories__title{
        /* padding: 10px 0; */
        font-size: 20px;

        letter-spacing: 2px;
        margin: 0 0 18px;
    }
    .categories__item{
        font-weight: lighter;
        font-size: 14px;
        margin: 0 0 16px;
        letter-spacing: 2px;
        color: #626262;
    }
}

@media (min-width: 1200px) {
    .categories {
        padding: 15px 0  35px 15px;
    }
    .categories__title {
        font-size: 24px;
        margin: 0 0 24px;
        }
    .categories__item{
        font-size: 18px;
        margin: 0 0 20px;
    }
}