.categories {
    box-shadow: 0px 0px 5px 1px rgba(168, 168, 168, 1);
    padding: 15px 15px 35px;
    transition: 1s;
    z-index: 999;
    position: fixed;
    display: block;
    background: #fff;
    left: -200px;
}

.categories-active {
    left: 0;
    transition: 1s;

}

.categories-overlay {
    display: none;
    z-index: 998;
}

.categories-overlay-active {
    display: block;
    top: -100px;
    right: 0;
    left: 0;
    bottom: -41px;
    position: absolute;

    background-color: rgba(0, 0, 0, 0.5);
}

.categories__btn {
    background: transparent;
    border-radius: 15px;
    border: 1px solid #000000;
    display: block;
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 10px;
    padding: 2px 5px;
}

.categories__btn:hover {
    color: #ff5722;
    border: 1px solid #ff5722;
}

.categories__title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 12px;
}

.categories__item {
    font-size: 10px;
    color: #626262;
    margin: 0 0 10px;
}

.categories__item:hover {
    color: #ff5722;
}
@media(min-width: 768px){
    .categories-overlay, .categories__btn{
        display: none;
    }
    .categories {
        box-shadow: 0px 0px 5px 1px rgba(168, 168, 168, 1);
        padding: 15px 0 35px 15px;
        transition: 1s;
        flex-basis: 20%;
        position: initial;
        display: block;
        background: #fff;
    }
}
@media (min-width: 960px) {

    .categories__title {
        /* padding: 10px 0; */
        font-size: 20px;

        letter-spacing: 2px;
        margin: 0 0 18px;
    }

    .categories__item {
        font-weight: lighter;
        font-size: 14px;
        margin: 0 0 16px;
        letter-spacing: 2px;
        color: #626262;
    }
}

@media (min-width: 1200px) {
    .categories {
        padding: 15px 0 35px 15px;
    }

    .categories__title {
        font-size: 24px;
        margin: 0 0 24px;
    }

    .categories__item {
        font-size: 18px;
        margin: 0 0 20px;
    }
}