* {
    font-size: 10px;
}

button {
    padding-top: 4px;
    text-align: center;
    font-weight: bold;
}

.wrap-basket {
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    width: 700px;
    border: 1px solid grey;
    border-radius: 1%;
    display: none;
}

.wrap-btn {
    display: flex;
    justify-content: space-around;
}


.active {
    display: block;
}


.button-buy {
    width: 40px;
    height: 25px;
    background-color: grey;
    color: white;
    border: 0px;
    border-radius: 5%;
}
.button-buy:hover {
    background-color: green;
}
.button-del {
    width: 40px;
    height: 25px;
    background-color: gray;
    color: white;
    border: 0px;
    border-radius: 5%;
}
.button-del:hover {
    background-color: orangered;
}

