button {
    /*padding-top: 4px;*/
    text-align: center;
    font-weight: bold;
}
.wrap-basket {
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    width: 300px;
    /*border: 1px solid grey;*/
    /*border-radius: 1%;*/
    background-color: #ffffff;
    position: absolute;
    z-index: 100;
    right: -700px;
    top: 55px;
    transition: 1s;
    -webkit-box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);;
}
.basket-title {
    text-align: left;
    margin-left: 6px;
}
.wrap-ul-scroll {
    overflow-y: scroll;
    max-height: calc(100vh - 200px);
}
.wrap-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.wrap-btn {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0 0 ;
}
.active {
    right: 0;
    transition: 1s;
}
.button-buy {
    width: 80px;
    /*height: 25px;*/
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 15px;
    font-size: 12px;
}
.button-buy:hover {
    color: #FF4500;
    border: 1px solid #FF4500;
}
.button-del {
    width: 80px;
    /*height: 25px;*/
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 15px;
    font-size: 12px;
}
.button-del:hover {
    color: #FF4500;
    border: 1px solid #FF4500;
}
.wrap-amount {
    text-align: left;
    margin: 20px 0 20px 0;
}
.text-value {
    font-weight: normal;
}
.amount-title {
    margin-left: 6px;
}


