* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
.categories-list{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
.categories-info{
    font-weight: lighter;
    font-size: 16px;
    padding-top: 25px;
    letter-spacing: 2px;
    color: #626262;
}