
.side-bar {
    flex-basis: 25%;
    display: none;
}

/* .gallery {
    flex-basis: 65%
} */

.wrapper-container {
    display: flex;
    justify-content: space-around;
    padding: 32px 0 50px;
}
@media (min-width: 768px){
    .side-bar {
        flex-basis: 25%;
        display: none;
    }
    
    .gallery {
        flex-basis: 65%
    }
}