
.book-section {
    padding: 10px;
    box-shadow: 0px 0px 5px 1px rgba(168, 168, 168, 1);
}

.book-noBook {
    margin: auto;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
    font-style: italic;
}

@media (min-width: 768px) {
    .book-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 48px 58px;
    }
}
